
.ctab button.nav-link.active{
    border-bottom: 2px solid #115bcd;
    color: #115bcd;
    background-color: transparent;
}
.pending-color {
  background: linear-gradient(112.14deg, rgb(255, 199, 0) 0%, #e3d7ad 100%) rgb(8, 6, 85);
}

.holding-color {
  background: linear-gradient(112.14deg, #ff8100 0%, #efbc0b 100%) #080655;
}

.sucess-color {
  background: linear-gradient(112.14deg, #50cd89 0%, #b3eba5 100%) #080655
}

.danger-color {
  background: linear-gradient(112.14deg, #ff2a2a 0%, #e96060 100%)
}

.bg-radial-gradient-danger {
  background-color: #F64E60;
  background-image: radial-gradient(circle, rgba(255, 226, 229, 0.4), #F64E60 70%);
}

.bg-radial-gradient-primary {
  background-color: #ffffff;
  background-image: radial-gradient(circle, rgba(255, 226, 229, 0.4), #ffffff 70%);
}
.my-bar-chart .apexcharts-legend.apx-legend-position-bottom{
  bottom:20px!important;
}
.account-tab{
  display:inline-block;
  height: 32px;
  padding: 0;
  margin: 0;
}
.account-tab > li{
  display:inline-block;
  height: 100%;
  line-height: 32px;
  border-radius: 4px;
  background-color: #eee;
  text-align: center;
  width: 60px;
  margin-right: 10px;
  cursor: pointer;
}
.account-tab > li.active{
  background-color: #115bcd;
  color: #fff;
}

.chart-tab{
  padding: 0;
  margin: 0;
  height: 24px;
  text-align: right;
  display:inline-block;
  float:right;
}
.chart-tab > li{
  display:inline-block;
  border-radius: 2px;
  background-color: #eee;
  text-align: center;
  padding: 4px 8px;
  margin-right: 5px;
  font-size: 10px;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
}
.chart-tab > li.active{
   background-color: #115bcd;
  color: #fff;
}