//
// Theme style
//

// Mode
$mode: default;

// Initialize
@import "init";

// Components
@import "./core/components/components";
@import "components/components";

// Layout
@import "layout/layout";
@import "./core/layout/docs/layout";
@import './layout/colors.scss';

.react-datepicker,
.react-datepicker__header,
.react-datepicker__time-box {
  background-color: #009ef7 !important;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected {
  color: #fff !important;
}

.react-datepicker__year-dropdown, .react-datepicker__month-dropdown, .react-datepicker__month-year-dropdown {
  background-color: #009ef7 !important;
}

.react-datepicker__navigation--years-upcoming {
  top: -4px;
  cursor: default;
  color: #b52222 !important;
}

.react-datepicker__day--disabled,
.react-datepicker__month-text--disabled,
.react-datepicker__quarter-text--disabled,
.react-datepicker__year-text--disabled {
  cursor: default;
  color: #b52222 !important;
}

.react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover,
.react-datepicker__year-text:hover {
  border-radius: 0.3rem;
  background-color: #94264c !important;
}

// .react-datepicker__current-month,
// .react-datepicker__day-name,
// .react-datepicker__day,
.react-datepicker__time-list-item,
.react-datepicker-time__header {
  color: #000000 !important;
}

.react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header {
  margin-top: 0;
  color: #e4e6ef;
  font-weight: bold;
  font-size: 0.944rem;
  display: none !important;
}

// .react-datepicker__day:hover,
// .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item:hover {
//   background-color: #25506d !important;
// }

.mw-1500px {
  max-width: 1500px;
}

.nav-line-tabs .nav-item .nav-link.active,
.nav-line-tabs .nav-item.show .nav-link,
.nav-line-tabs .nav-item .nav-link:hover:not(.disabled) {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #009ef7;
  transition: color 0.2s ease, background-color 0.2s ease;
  cursor: pointer;
}

@media (min-width: 0px) and (max-width: 1556px) {
  .btn .btn-light-primary {
    width: fit-content;
  }
}

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100 !important;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.w-250 {
  width: 250;
}

.w-6rem {
  width: 6.5rem !important;
}

.mh-100vh {
  min-height: 100vh;
}

.font-5vw {
  font-size: 0.75vw;
  white-space: normal !important;
  display: inline;
}

.btn-responsive {
  padding: 0.625rem 0.5rem !important;

  @media (min-width: 992px) and (max-width: 1199px) {
    padding: 0.325rem 0.25rem !important;
  }

  @media (min-width: 768px) and (max-width: 991px) {
    padding: 0.325rem 0.25rem !important;
  }

  @media (max-width: 767px) {
    padding: 0.325rem 0.25rem !important;
  }

  @media (max-width: 480px) {
    padding: 0.325rem 0.25rem !important;
  }
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  margin-top: 0;
  color: #e4e6ef;
  font-weight: bold;
  font-size: 0.944rem;
}

.react-datepicker {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 0.8rem;
  background-color: #fff;
  color: #f7f2f2;
  border: 1px solid #aeaeae;
  border-radius: 0.3rem;
  display: inline-block;
  position: relative;
}

.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover {
  background-color: #1461a3;
}

.react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover,
.react-datepicker__year-text:hover {
  border-radius: 0.3rem;
  background-color: #1461a3;
}

.react-datepicker {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 0.8rem;
  background-color: #fff;
  color: #fff;
  border: 1px solid #aeaeae;
  border-radius: 0.3rem;
  display: inline-block;
  position: relative;
}

// Stepper style

$fill-color: #009ef7;
$border-color: #d9e2ec;
$text-color: #102a43;
$text-color-inactive: #829ab1;
$text-color-optional: #9fb3c8;

.stepper-horizontal {
  display: table;
  width: 100%;
  margin: 0 auto;

  .step {
    display: table-cell;
    position: relative;
    padding: 1.5rem;
    z-index: 2;
    // width: 20rem;
    min-width: 15rem;
    // max-width: 20rem;
    cursor: pointer;

    &:last-child .step-bar-left,
    &:last-child .step-bar-right {
      display: none;
    }

    .step-circle {
      width: 2rem;
      height: 2rem;
      margin: 0 auto;
      border-radius: 50%;
      text-align: center;
      line-height: 1.75rem;
      font-size: 1rem;
      font-weight: 600;
      z-index: 2;
      border: 2px solid $border-color;
    }

    &.done {
      .step-circle {
        background-color: $fill-color;
        border: 2px solid $fill-color;
        color: #ffffff;
      }

      .step-title {
        color: $text-color;
      }
    }

    &.editing {
      .step-circle {
        background: #ffffff;
        border-color: $fill-color;
        color: $fill-color;
      }

      .step-title {
        color: $fill-color;
        text-decoration: underline;
      }
    }

    .step-title {
      margin-top: 1rem;
      font-size: 1rem;
      font-weight: 600;
    }

    .step-title,
    .step-optional {
      text-align: center;
      color: $text-color-inactive;
    }

    .step-optional {
      font-size: 0.75rem;
      font-style: italic;
      color: $text-color-optional;
    }

    .step-bar-left,
    .step-bar-right {
      position: absolute;
      top: calc(2rem + 5px);
      height: 5px;
      background-color: $border-color;
      border: solid $border-color;
      border-width: 2px 0;
    }

    .step-bar-left {
      width: calc(100% - 2rem);
      left: 50%;
      margin-left: 1rem;
      z-index: -1;
    }

    .step-bar-right {
      width: 0;
      left: 50%;
      margin-left: 1rem;
      z-index: -1;
      transition: width 500ms ease-in-out;
    }

    &.done .step-bar-right {
      background-color: $fill-color;
      border-color: $fill-color;
      z-index: 3;
      width: calc(100% - 2rem);
    }
  }
}

.fsu {
  font-size: 1.5rem !important;
}

.text-darkblue {
  color: darkblue;
}

.text-darkorange {
  color: darkorange;
}

.text-limegreen {
  color: limegreen;
}

.svg-icon svg {
  color: #8565c9;
}

.ml-2 {
  margin-left: 20px;
}

.svg-icon-email svg {
  color: #8565c9;
}

.svg-icon-address svg {
  color: #8565c9;
}

.svg-icon-location svg {
  color: #8565c9;
}

.card-bgI {
  background-color: #ebe2cfad;
}

.card-bgB {
  background-color: #b6d6ed5e;
}

.ml-1 {
  margin-left: 10px;
}

.CircularProgressbar {
  width: 103% !important;
  vertical-align: middle;
}

// .CircularProgressbarWithChildren {
//   width: 17% !important;
//   vertical-align: middle;
// }

.cp {
  cursor: pointer;
}

.card .card-body {
  padding: 0 !important;
}

.bg-card {
  background-color: #104a8a !important;
  color: white !important;
}

.card-link {
  color: #fdd855 !important;
}

.Id-response-Link {
  color: #111110 !important;
  cursor: pointer;
}

.Id-response-Link:hover {
  color: #54afca !important;
}

.bg-business-card {
  background-color: #060707 !important;
  color: white !important;
}

.bg-col-bis {
  background-color: bisque !important;
}

.m-20 {
  margin: 7rem !important;
}

.label-one {
  background-color: #0a213b;
  color: white !important;
}

.label-one:hover {
  border: 2px solid #59698d !important;
  background-color: transparent !important;
  color: black !important;
}

.label-two {
  background-color: #59698d;
  color: white !important;
}

.label-two:hover {
  border: 2px solid #59698d !important;
  background-color: transparent !important;
  color: black !important;
}

.label-three {
  background-color: #52495a;
  color: white !important;
}

.label-three:hover {
  border: 2px solid #59698d !important;
  background-color: transparent !important;
  color: black !important;
}

.label-four {
  background-color: #969ba0b5;
  color: white !important;
}

.label-four:hover {
  border: 2px solid #59698d !important;
  background-color: transparent !important;
  color: black !important;
}

.label-five {
  background-color: #2e7c6b;
  color: white !important;
}

.label-five:hover {
  border: 2px solid #59698d !important;
  background-color: transparent !important;
  color: black !important;
}

.label-six {
  background-color: #4f3861;
  color: white !important;
}

.label-six:hover {
  border: 2px solid #59698d !important;
  background-color: transparent !important;
  color: black !important;
}

.label-seven {
  background-color: #0d5b7a;
  color: white !important;
}

.label-seven:hover {
  border: 2px solid #59698d !important;
  background-color: transparent !important;
  color: black !important;
}

.seven-label {
  @media (max-width: 1920px) {
    padding: 10px;
    width: 100% !important;
  }

  @media (min-width: 1024) and (max-width: 1200px) {
    padding: 10px;
    width: 100% !important;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    padding: 10px;
    width: 100% !important;
  }

  @media (min-width: 480px) and (max-width: 768px) {
    padding: 10px;
    width: 100% !important;
  }

  @media (min-width: 320px) and (max-width: 480px) {
    padding: 10px;
    width: 100% !important;
  }

  @media (min-width: 1930) and (max-width: 2050px) {
    padding: 10px;
    width: 100% !important;
  }

  @media (min-width: 1400px) and (max-width: 1929px) {
    padding: 10px;
    width: 100% !important;
  }

  @media (min-width: 1200px) and (max-width: 1399px) {
    font-size: 10px;
    width: 80% !important;
  }

  @media (max-width: 1199px) {
    padding: 10px;
    width: 100% !important;
  }
}

.label-active {
  background-color: rgb(30, 180, 160);
  color: white !important;
}

.ellipsis {
  max-width: auto;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.ellipsisDashboard {
  max-width: 250px;
  height: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  // text-overflow: ellipsis !important;
}

.ellipsisDashboardSummary {
  max-width: 250px;
  height: 100px;
  // text-overflow: ellipsis !important;
}

.ellipsisDashboardSummary>p {
  display: -webkit-box;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 3 !important;
  overflow: hidden !important;
}

.font14 {
  font-size: 12px;
  width: 200px;
}

@media (min-width: 1440px) {
  .font14 {
    font-size: 10px;
    /* Apply other styles specific to larger screens */
  }
}

.link-muted {
  color: #a1a5b7 !important;
}

.link-muted:hover {
  color: #3194d6 !important;
}

.card .card-header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  min-height: 50px !important;
  padding: 0 2.25rem;
  background-color: transparent;
}

.badge-orange {
  color: #fff;
  background-color: #ff9000;
}

.text-orange {
  color: #ff9000;
}

.mx-left {
  margin-right: auto !important;
  /* margin-left: auto !important; */
}

.bg-cover {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-radiant {
  background: #6e21a2;
  background-image: linear-gradient(-45deg, #49a09d 0, #427caa 36%, #3b58b6 50%, #553dac 65%, #6e21a2 100%);

  @media (min-width: 1930) and (max-width: 2050px) {
    width: 850px;
  }

  @media (min-width: 1400px) and (max-width: 1929px) {
    width: 850px;
  }

  @media (min-width: 1200px) and (max-width: 1399px) {
    width: 710px;
  }

  @media (max-width: 1199px) {
    width: 540px;
  }
}

.m-top-7 {
  margin-top: 70px;
}

.ms-9 {
  margin-left: 9.5rem !important;
}

.react-tel-input .form-control {
  width: 350px !important;
  outline: none;
  background-color: #f5f8fa !important;
  border-color: #f5f8fa !important;
  color: #5e6278 !important;
}

.react-tel-input .flag-dropdown {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0;
  background-color: #f5f8fa !important;
  border-color: #f5f8fa !important;
  border-radius: 3px 0 0 3px;
}

.bg-pad {
  padding-right: var(--bs-gutter-x, 0rem);
  padding-left: var(--bs-gutter-x, -6rem);
  margin-right: 29px !important;
  margin-left: -30px !important;
  margin-top: -80px;

  @media (min-width: 992px) and (max-width: 1199px) {
    width: 1654px !important;
    margin-top: -19px !important;
  }

  @media (min-width: 768px) and (max-width: 991px) {
    width: 1654px !important;
    margin-top: -19px !important;
  }

  @media (max-width: 767px) {
    width: 1654px !important;
    margin-top: -19px !important;
  }

  @media (max-width: 480px) {
    width: 1654px !important;
    margin-top: -19px !important;
  }
}

.home-mb {
  margin-bottom: 10%;
}

.home-body {
  width: 100%;
  padding-right: var(--bs-gutter-x, 5.5rem);
  padding-left: var(--bs-gutter-x, 5.5rem);
  margin-right: auto;
  margin-left: auto;
}

.pichart {
  width: 42% !important;
}

.current-value {
  font-size: 16px;
  font-weight: bold;
  fill: rgb(102, 102, 102);
  margin-bottom: 10px;
}

.bg-lightBlue {
  background-color: #e1ecf5;
}

.word-break {
  width: 329px;
  word-wrap: break-word;
}

.swal2-confirm btn btn-raised btn-raised-warning m-1 {
  background-color: #009ef7 !important;
}

.graph {
  width: 1228px !important;
}

.onErrorImage {
  width: 40px;
  height: 40px;
}

#street-view {
  height: 100%;
}

div.card .card-header-primary {
  background: linear-gradient(60deg, #0a57ad, #4d8aa7);
}

div.card .card-header-secondary {
  background: linear-gradient(60deg, #3d556c, #afc3c6);
}

.card-nav-tabs .card-header {
  margin-top: -30px !important;
  padding: 13px 1rem;
}

.card .card-header .nav-tabs {
  padding: 0;
}

.nav-tabs {
  border: 0;
  border-radius: 3px;
  padding: 0 15px;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-tabs .client-nav-item {
  margin-bottom: -1px;
}

.nav-tabs .client-nav-item .nav-link.active {
  background-color: hsla(0, 0%, 100%, .2);
  transition: background-color .3s .2s;
}

.nav-tabs .client-nav-item .nav-link {
  border: 0 !important;
  color: #fff !important;
  font-weight: 500;
}

.nav-tabs .client-nav-item .nav-link {
  color: #fff;
  border: 0;
  margin: 0;
  border-radius: 3px;
  line-height: 24px;
  text-transform: uppercase;
  font-size: 12px;
  padding: 10px 15px;
  background-color: transparent;
  transition: background-color .3s 0s;
}

.nav-link {
  display: block;
}

.nav .client-nav-item {
  position: relative;
}

.input-group.input-group-solid.flex-nowrap {
  background-color: #cadae5;
  border-color: #f5f8fa;
  border-radius: 0.475rem;
}

.btn.btn-blue {
  color: #ffffff;
  border-color: #0781d7;
  background-color: #0781d7;
}

.btn-blue:hover {
  color: #ffffff;
  background-color: #26adf8;
  border-color: #1aa8f8;
}

.btn.btn-green {
  color: #ffffff;
  border-color: #34978d;
  background-color: #34978d;
}

.btn-green:hover {
  color: #ffffff;
  background-color: #4cada4;
  border-color: #4cada4;
}

.btn-orange {
  background-color: $orange !important;
  color: #fff;
}

.btn-orange:hover {
  color: rgb(243, 237, 237);
}

.btn-darkRed {
  background-color: $darkRed !important;
  color: #fff;
}

.btn-darkRed:hover {
  color: rgb(243, 237, 237);
}

.accordion-button:not(.collapsed) {
  background-color: #8ccff4 !important
}

video {
  border-radius: 20px
}

.bg-saffron:hover {
  color: #fff;
}

.bg-lightBlue {
  background-color: $lightBlue !important;
}

.bg-skyBlue {
  background-color: $skyBlue !important;
}

.btn-darkRed {
  background-color: $darkRed !important;
  color: #fff;
}

.btn-darkRed:hover {
  color: rgb(243, 237, 237);
}

.nav-tabs {
  border: 0;
  border-radius: 3px;
  padding: 0 0px !important
}

.camera-style > div > video {
  width: 100% !important;
}

.contactImg-width {
  width: 16px !important;
}

.accordion-button:not(.collapsed) {
  background-color: #ffffff !important;
}

.accordion-button:not(.collapsed) {
  color: #000000;
  background-color: var(--bs-accordion-active-bg);
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.blink {
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1.0, 0, 0, 1.0);
  animation-duration: 1s;
}

.react-pdf__Page__canvas {
  display: unset !important;
}

.map-img {
  object-fit: cover !important;
  width: 100%;
  height: 450px !important
}

.h-450px > div {
  height: 450px !important;
}

.feedback-chat:focus {
  border: 0 !important;
  outline: 0 !important;
}

.feedback-chat {
  padding-top: 12px !important;
}

.w-90 {
  width: 85% !important;
}

.w-60 {
  width: 60% !important;
}

.position-chat-sticky {
  position: sticky !important;
  bottom: 0 !important;
}

.feed-back-modal {
  height: 40vh !important;
  overflow: scroll !important;
}

.feedback-image {
  width: 25px !important;
  height: 25px !important;
  border-radius: 50% !important;
}

.search-weight {
  font-size: 13px !important;
  font-weight: 400 !important;
}