.download-table-xls-button {
    /* padding: calc(-0.45rem + 1px) calc(0.25rem + 1px); */
     cursor: pointer;
    color: black;
    border-color: transparent;
    background-color: transparent;
    font-size: 0.75vw;
    white-space: normal !important;
    /* font-size: 10px; */
    font-weight: 600;
}
/* .download-table-xls-button:hover{
    color: #e9edf0;
} */

.xl-sheet:hover{
    /* color: #e9edf0; */
    background-color: #48b445;
}

.xl-sheet {
padding: calc(0.45rem + 1px) calc(0.55rem + 1px);
   cursor: pointer;
   color: #1bd361;
   border-color: #1df15d;
   background-color: #f1faff;
   font-size: 0.75vw;
   white-space: normal !important;
   font-size: 10px;
   font-weight: 900;
   border-radius: 5px;
}

.export-sheet {
    padding-top: 5px !important;
    height: 29px;
}
.nav-tabs {
    --bs-nav-tabs-border-width: 0px !important; 
    --bs-nav-tabs-border-color: transparent !important;
}
.ctab button.nav-link.active{
    border-bottom: 2px solid #115bcd;
    color: #115bcd;
    background-color: transparent;
}