.pdf-body{
    font-size: 14px;
  }
  .pdf-container{
    display:inline-flex;
    gap:30px;
    text-align: center;
    padding: 35px;
    padding-top: 35px;
    padding-bottom: 10px;
  }
  .pdf-wave{
    color: green;
    font-size: 18px;
    
  }
  .pdf-trust{
    color: blue;
    font-size: 18px;
    padding-left: 20px;
  }
  .pdf-h1{
    font-size: 14px;
    padding-left: 30px;
    padding-right: 240px;
  }
  img{
    width:100px
  }
  .pdf-h3{
    font-size: 14px;
    padding-left: 30px;
  }
  .pdf-p{
    padding-left: 80px;
    font-size: 10px;
    padding-right: 20px;
  }
  .pdf-table{
    width:100%;
    border: none;
    border-bottom:2px solid black
  }
  .pdf-containers{
    padding-top:0px ;
    padding-left: 35px;
    text-align: left;
  }
  .pdf-row{
    font-size: 12px;
  }
  .pdf-col{
    font-size: 12px;
  }
  .pdf-cols{
    font-size: 14px;
  }
  .pdf-table_borderless{
    padding-bottom:20px;
    border: none;
    border-bottom: 2px solid black;
    padding-left: 40px;
    padding-right: 40px;
  
  }
  .pdf-Container{
    padding-top:27px ;
    padding-left: 40px;
    padding-right: 40px;
    text-align: left;
  }
  .pdf-Container .pdf-tds{
    padding-left: 15px;
    border:black solid 1px
  }
  .pdf-table_s{
    font-size: 10px;
    border-collapse: collapse;
    border:solid black 1px
  }
  .pdf-white{
    background-color: white;
    padding-bottom: 10px;
  }
  .pdf-grey{
    background-color: #d6d8db;
    padding-bottom: 10px;
  }
  .pdf-table_secondary{
    background-color: #d6d8db;
  }
  td {
    padding: 0;
  }
  .pdf-bg_warning{
    background-color: #ffc107!important;;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 8px;
  }
  .pdf-bg_success{
    background-color: hsl(134, 61%, 41%)!important;
    padding-left: 10px;
    padding-right: 5px;
    font-size: 8px;
  }
  .pdf-bg_danger{
    background-color: #dc3545!important;
    padding-left: 10px;
    padding-right: 5px;
    font-size: 8px;
  }
  .pdf-td{
    padding: 5px;
    border:solid black 1px;
    width:400px
  }
  .pdf-th{
    padding: 5px;
    border-collapse: collapse;
    border:solid black 1px
  }
  .pdf-conTainers{
    display:inline-flex;
    gap:30px;
    text-align: center;
    padding: 35px;
    padding-top: 18px;
  }
  .pdf-h4{
    font-size: 14px;
    padding-right: 350px;
    padding-left: 25px;
  }
  .pdf-contAiner{
    display:inline-flex;
    gap:30px;
    text-align: center;
    padding: 35px;
    padding-top: 45px;
    padding-bottom: 10px;
  }
  .WCM{
    border: black 1px solid;
    font-size: 10px;
  }
  .pdf-table_ss{
    font-size: 10px;
    border-collapse: collapse;
  }
  .pdf_wcm td{
    padding:15px;
    font-size: 10px;
  }
  .pdf_wcm th{
    padding:15px;
    padding-left: 0%;
  }
  .pdf-conTainers_scan{
    display:inline-flex;
    gap:30px;
    text-align: center;
    padding: 35px;
    padding-top: 20px;
    padding-bottom: 0px;
  }
  .pdf-conTaiNers_mal{
    display:inline-flex;
    gap:30px;
    text-align: center;
    padding: 35px;
    padding-top: 270px;
    padding-bottom: 0px;
  }
  .pdf-h1_scan{
    font-size: 14px;
    padding-left: 35px;
    padding-right: 380px;
  }
  #imgs{
    float: right;
    width:60px;
  }
  .pdf_none{
    text-align: left;
    font-size:14px;
    padding-left: 80px;
  }
  .pdf-h1_secure{
    font-size: 14px;
    padding-left: 30px;
    padding-right: 330px;
  }
  .pdf-contAiner_secure{
    display:inline-flex;
    gap:30px;
    text-align: center;
    padding: 35px;
    padding-top: 15px;
    padding-bottom: 10px;
  }
  .pdf-Container p{
    font-size: 12px;
  }
  .pdf-Container_ssl{
    font-size: 11px;
    padding-left: 45px;
    text-align: left;
    padding-top: 50px;
  }
  .table_ssl{
    border:black solid 1px;
    border-collapse: collapse;
  }
  .table_ssl td{
    border:black solid 1px;
    padding:10px
  }
  .table_ssl tr{
    border-collapse: collapse;
    border:black solid 1px
  }
  .pdf-table_borderless tbody td{
    width:350px
  }
  .pdf-header_grey{
    background-color: rgba(128, 128, 128, 0.521);;
    padding:10px
  }
  .pdf-header_grey th{
    background-color: rgba(128, 128, 128, 0.521);;
    padding:10px;
    border:black solid 1px;
  }
  .pdf-conTaiNers_scan{
    display:inline-flex;
    gap:30px;
    text-align: center;
    padding: 35px;
    padding-top: 100px;
    padding-bottom: 0px;
  }
  .pdf-h2_scan{
    font-size: 14px;
    padding-left: 35px;
    padding-right: 420px;
  }
  .pdf-table_ssm {
    font-size: 10px;
    border-collapse: collapse;
    padding-top: 40px;
  }
  .pdf-h1_web{
    font-size: 14px;
    padding-left: 35px;
    padding-right: 320px;
  }
  .pdf-table_contents{
    width:100%;
    border: none;
    border:2px solid black
  }
  .pdf-h1_secures{
    font-size: 10px;
    padding: 30px;
    padding-left: 30px;
    padding-right: 360px;
  }
  .pdf-policy{
    display:inline-flex;
    gap:30px;
    text-align: center;
    padding: 20px;
    padding-top: 400px;
    padding-bottom: 0px;
  }
  .pdf-h4_privacy{
    font-size: 14px;
    padding-right: 370px;
    padding-left: 25px;
  }
  .pdf-h1_policy{
    text-align: left;
    font-size: 10px;
  }
  .pdf-table_policy{
    width:100%;
    border: none;
    border:2px solid black;
    text-align: left;
  }
  .pdf-conTainers_scan{
    text-align: left;
  }
  .pdf-table_policy p{
    font-size: 9px;
  }